.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}

/* created this scroll container */
.scroll-container{
    overflow: hidden;
    position: relative;
    width: 100%;
}

.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
    animation: scroll 10s linear infinite; /* added animation line */
}

/* scrolling animation */
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Media query for small screens */
@media screen and (max-width: 740px) {
    .project-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
        animation: none; /* Disable animation on small screens */
    }
}
